*
	padding: 0
	margin: 0

// Clases de Materialize personalizados
.halfway-fab
	top: 60px
.autocomplete
	color: #fff
.divider
	margin-top:20px

// -----------Contenedor y app--------------
.container-app
	width: 500px
	margin: 50px auto
.app
	width: 100%
.list
	width: 100%

// ------------Header---------------
.list__header
	background: linear-gradient(45deg, rgba(98,69,215,1) 4%, rgba(13,110,128,1) 100%)
	padding: 20px
.header__title
	display: block
	font-family: Roboto, cursive
	font-size: 2em
	color: #fff
	font-weight: bold
	text-align: center


// -------------Body---------------
.list__body
	margin-top:30px
	padding: 30px
	min-height: 200px
.task
	margin-bottom: 20px
.btn__task
	margin-left: 10px

// ----------------footer---------------
.list__footer
	background: linear-gradient(70deg, rgba(98,69,215,1) 4%, rgba(13,110,128,1) 100%)
	height: 25px
	width: 100%